main {}

/* Navbar */

header {
    background-color: #0C1D36;
    /* Dark Blue */
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    /* Distribute items evenly */
}

.logo {
    color: #F9CC0B;
    /* Yellow */
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    margin-left: 2%;
}

.logo:hover {
    color: #ffffff;
    /* White on hover */
}

a {
    color: #ffeb3b;
    /* Yellow */
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #ffffff;
    /* White on hover */
}

/* Additional styles for Login and Register */
.login,
.register {
    display: flex;
    justify-content: space-between;
    margin-right: auto;

}

/* End of Navigation styles */